@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container-fluid LoginBackground-img" style="padding-bottom: 150px;">
    <h1>@ViewData["Title"]</h1>
   
        <div style="max-width: 400px;">
            <section>
                <form id="account" method="post">
                    <h4>Free never looked this good!</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-white" style="background: linear-gradient(45deg, #00ff90 0%,#00bd8e 100%);">Log in</button>
                    </div>

                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

       
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
