

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<partial name="~/Views/Dashboard/_MobileSidebarPartial.cshtml" />

<div class="row mb-5" >
    <div class="col col-md-3 col-lg-2 d-none d-md-block">

        <partial name="~/Views/Dashboard/_SidebarPartial.cshtml" />

    </div>



    <div class="col col-sm-12 col-md-9 col-lg-10 border " onclick="w3_close()">

        <div class="LeftGreen-img">
            <img src="~/Images/bowl.png" style="max-width:190px; float: right; position:relative;" />

            <h1 class="display-4 text-white text-center pt-5 WelcomeMargin" >Welcome!</h1>
            <h1 class="display-4 text-center pt-5 pb-5 WelcomeMargin" style="font-size:28px;">Let's have a look at some features</h1>
        </div>

        <div style="padding-bottom: 40px; padding-top:50px;">
            <h1 class=" font-weight-bold text-center mt-5 pt-3" style="font-size:28px;"><img src="~/Images/plus.svg" style="max-width: 40px; padding-right: 10px;" />ADD STAFF</h1>

            <h1 class="display-4 pt-3 text-center" style="font-size:25px;">A Password will auto generat every time an employee name is entered</h1>
            <p class="text-center pb-5 pt-3">John  -  JOHN4590</p>
        </div>
           

            <div class="text-center pb-5 border bg-dark" style="padding-top:40px; padding-bottom: 160px; ">
                <h1 class="font-weight-bold text-white">Oasis</h1>
            
                <h1 class="display-4 text-center mb-5 text-white" style="font-size:28px;">Employees will use Oasis to login</h1>
                <p></p>
            </div>

       



    </div>
</div>

