


    <div class="pl-5 pt-5">
        <h1 class="display-4" style="font-family: 'Roboto', sans-serif;">Take orders on any smart device</h1>
        <p class="lead" style="font-family: 'Roboto', sans-serif;">Your waiters will thank you :)</p>
        <hr class="my-4">
        <p style="font-family: 'Roboto', sans-serif;">Simple is good!</p>
        <div class="lead">
            <a class="btn btn-lg " href="Identity/Account/Register" role="button" style="background: linear-gradient(45deg, #00ff90 0%,#00bd8e 100%); color: white;">Start Now</a>
        </div>
         
        <img src="~/Images/phoneIndexPage.png" class="PhonePosition" />
     
    </div>

    <div class="container-fluid">



        <div class="mx-auto text-center bg-light pb-5 ">
            <img src="~/Images/strawberryGreen.svg" class="StrawberryPosition" />
            <h1>Yup, it's in the cloud!</h1>
            <p class="lead pb-2" style="font-family: 'Roboto', sans-serif;">Simply add your existing menu items to our cloud database</p>
        </div>

        <h1 class=" text-center" style="color:#dc5490; padding-top: 70px; padding-bottom: 70px;">Save an upwards of 5 minutes on each order</h1>
        @*------------------ Demo -------------------------*@

        <div class="row mx-auto m-3 text-center">
            <div class="col-md-4 pb-5 border-white indexC ">
                <h1 class="text-white pt-4">Demo</h1>
                <p class="lead text-white" style="font-family: 'Roboto', sans-serif;">From picking tables to adding food, easy!</p>
                <a class=" btn nav-link bg-white mx-auto shadow" style="border-color:white; color:#B73242; width: 100px; border-radius: 25px;" href="Employee/WaiterTableEntry/RlJJRU5ENjI3Mg%3D%3D" target="_blank">Oasis</a>
            </div>

            <div class="col-md-8" style=" background-color:black;">

                <h1 class=" pt-4 text-white">Order Sent!</h1>
                <p class="lead text-white" style="font-family: 'Roboto', sans-serif;">It’s off to the kitchen, now that’s quick!</p>
                <img src="~/Images/KitchenIndex.png" class="KitcheOrderIndex" />
            </div>
        </div>

    </div>



